@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* * {
  outline: 1px solid red;
} */

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body {
  background-color: #ffff;
}

:root {
  --n: 0 !important;
  --nc: 0 !important;
}

.modal-box {
  overflow: visible !important;
}