@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* * {
  outline: 1px solid red;
} */

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body {
  background-color: #ffff;
}

:root {
  --n: 0 !important;
  --nc: 0 !important;
}

input:-webkit-autofill,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

.TextField:focus-within fieldset,
.TextField:hover fieldset {
  border: solid #ff986f !important;
}

.swiper {
  z-index: 0 !important;
}