.react-datepicker__month-container {
    font-size: 0.875rem;
    font-family: "Satoshi";
    font-weight: 500;
}

.react-datepicker__month-container {
    width: 356px;
    height: 345px;
}

.react-datepicker__navigation {
    margin-top: 8px !important;
}

.react-datepicker__day--today {
    border-radius: 50% !important;
}

.react-datepicker__header {
    background-color: #fff !important;
}

.react-datepicker__month-container {
    border-radius: 0.75rem !important
}

.react-datepicker__header {
    border-top-right-radius: 0.75rem !important;
    border-top-left-radius: 0.75rem !important;
}

.react-datepicker__day .react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    width: 35px !important;
    height: 35px !important;
    padding-top: 5px;
    margin-left: 10px !important;
}

.react-datepicker__day--selected {
    background-color: #ff7037 !important;
    border-radius: 50% !important;
}

.react-datepicker__day:hover {
    background-color: #ffd5c2 !important;
    border-radius: 50% !important;
}

.react-datepicker__week {
    height: 45px !important;
}

.react-datepicker__day-name {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    border-radius: 50% !important;
    background-color: #ffd5c2 !important;
}

.react-datepicker__input-container:active {
    background-color: #ff7037 !important;
}